/laskarit/viikko2/Unicafe/target
laskarit/viikko2/Maksukortti/target/
laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Unicafe/nbproject/
/Helpotus/target/
/Helpotus/nbproject/
/Helpotus/users.txt
/Helpotus/eatings.txt
/Helpotus/nbactions.xml
